### READ ME

Use the code blocks below to answer each question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [1]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: Error: credential propagation was unsuccessful

In [ ]:
# Question 0: Create a DataFrame with three rows and four columns. Name the
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df:
  for i, value in df[col].items():
    df.at[i, col] = f'{i}/{col}'

df

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

These first 15 questions are part of the Week 3 Apply Assignment. Question 16 to the end (Question 27) represents the Week 3 Team Assignment. Therefore, once you finish through Question 15, submit this file (even with the remaining questions blank) for your Week 3 Apply Assignment.

Then, for the Week 3 Team Assignment, continue working on this file in your assigned team to complete Questions 16-27. Collaborate with each other to determine the best way to solve each question task. You are welcome to modify your code (if you choose) for Questions 1-15 for the team assignment since you would have already submitted the Week 3 Apply Assignment.
## **Data Import**

In [3]:
# Question 1: Import the data file posted along with this assignment called
# 'student_enrollment_sample.csv'. This file contains hypothetical data about
# students enrolled in an online university. This university wants to help
# their students succeed. However, many of them drop out for a variety of
# reasons. Some feel hopeless, helpless, or lost. The university wants to
# identify those students who are currently active, but likely to drop in
# the near future so that they can intervene and get the them additional help.
# Your task is to create a predictive model to classify those students who are
# predicted to drop, but currently active to give to the advisement center for
# targeted interventions. Complete the steps as outlined in the questions to
# complete this task.

# First, print out the first five records of the dataset. How many students are
# in this sample?

import pandas as pd

# Load the dataset
df = pd.read_csv('/content/student_enrollment_sample-Laurie_Bagley.csv')

# Print the first five records
print("First five records of the dataset:")
print(df.head())

# Get the number of students (rows) in the sample
num_students = len(df)
print(f"\nNumber of students in this sample: {num_students}")

First five records of the dataset:
  EXPECTED_START_DATE GRADUATION_DATE  ENROLL_COUNT  NUMBER_AVERAGE  \
0                 NaN             NaN           1.0             0.0
1                 NaN        2/8/2016           1.0             0.0
2                 NaN             NaN           1.0             0.0
3                 NaN             NaN           1.0             0.0
4                 NaN             NaN           1.0             0.0

   MINUTES_ATTENDED  HOURS_ATTEMPTED  HOURS_EARNED  AR_BALANCE_AMOUNT  \
0               NaN              0.0           0.0                0.0
1               NaN              0.0           0.0                0.0
2               NaN              0.0           0.0                0.0
3               NaN              0.0           0.0                0.0
4               NaN              0.0           0.0                0.0

   MINUTES_ABSENT  DAYS_ABSENT  ...  CREDITS_LEFT  ENROLLMENT_COUNT  \
0             NaN          0.0  ...           NaN               NaN
1             NaN          0.0  ...           NaN               NaN
2             NaN          0.0  ...         180.0               2.0
3             NaN          0.0  ...          60.0               3.0
4             NaN          0.0  ...           NaN               NaN

  MODS_ATTENDED_COUNT HS_GRADUATED_FLAG DISABLED_FLAG  HISPANIC_FLAG  \
0                 NaN               NaN           NaN            NaN
1                 NaN               NaN           NaN            NaN
2                 0.0               0.0           0.0            0.0
3                 0.0               0.0           0.0            1.0
4                 NaN               NaN           NaN            NaN

   VETERAN_FLAG               STATUS_DESCRIPTION  IN_SCHOOL_FLAG  \
0           NaN            Application Cancelled             0.0
1           NaN                        Applicant             0.0
2           0.0  Pending Applicant - Portal Only             0.0
3           0.0                        Applicant             0.0
4           NaN  Pending Applicant - Portal Only             0.0

   SIMPLE_STATUS_DESCRIPTION
0                      Other
1                      Other
2                      Other
3                      Other
4                      Other

[5 rows x 35 columns]

Number of students in this sample: 50001

# **Two-Class Modeling**

## **Data Cleaning**

### Missing Values

In [6]:
# Question 2: Print out a list of missing values for each column in the
# dataset. HINT: search for 'pandas .isna() example'

# Calculate the sum of missing values for each column
missing_values = data.isna().sum()

# Print the list of missing values
print("Missing values for each column in the dataset:")
print(missing_values)

NameError: name 'data' is not defined

In [ ]:
# Question 3: Make a copy of the original DataFrame to work with
# (in case we want to use the original again later). Iterate through
# the new DataFrame and remove any column that has more than 30% of
# the records/cases missing. Print out a summary of missing value
# percentages for each remaining column.

In [ ]:
# Question 4: Drop all remaining rows that contain any missing data.
# Print out the numer of rows and columns in the remaining dataset.

### Handle Dates

In [ ]:
# Question 5: Now it's time to handle the date values. LAST_ACTIVITY_DATE,
# EXPECTED_START_DATE, BIRTH_DATE, and GRADUATION_DATE may all be useful.
# For LAST_ACTIVITY_DATE, EXPECTED_START_DATE, and BIRTH_DATE, replace the
# date value with the number of days between that date and 2022-1-1. In other
# words: 2022-1-1 minus the date value in the field. For GRADUATION_DATE,
# replace the date value with the number of days until graduation assuming
# that today's date is 2020-1-1. In other words, calculate: GRADUATION_DATE
# minus 2020-1-1. Print out the first five rows to examine the results.

### Bin Categorical Values

In [ ]:
# Question 6: The PROGRAM_GROUP feature indicates which academic program
# the student is working on. Some of them are very small programs and
# represent less than five percent of the data. We need to bin those programs
# into a new value called "Other". Start by printing a list of PROGRAM_GROUP
# values divided by the total number of records in order to see what percent
# of the cases they represent. Then, iterate through the rows and change every
# program value to "Other" if it does not belong to a PROGRAM_GROUP that
# represents at least five percent of the cases. Finally, print out the new
# listof PROGRAM_GROUP values (including the new 'Other') to make sure your
# routine worked correctly. You do not need to print the values in 'percent'
# format. The original decimal values are fine.

### Relabel Label

In [ ]:
# Question 7: Print the first five records of a filtered version of
# the DataFrame including only the 'IN_SCHOOL_FLAG' and 'STATUS_DESCRIPTION'
# features. Notice that all those who have graduated have an 'IN_SCHOOL_FLAG'
# of zero which makes them the same as students who have dropped out or
# have been terminated. Because we want students to graduate, we need to
# treat them the same as those who are active. Therefore, convert the
# 'IN_SCHOOL_FLAG' value for all graduates to 1 (or 1.0). In addition, convert
# their 'SIMPLE_STATUS_DESCRIPTION' to 'Active'.

## **Classification Modeling**

### Dummy Coding

In [ ]:
# Question 8: Import the packages necessary for a DecisionTreeClassifier and
# a train_test_split. We will use these later. For now, create another copy of the
# latest DataFrame to work from. Using the new copy, convert MOD_NUMBER and
# COHORT_YEAR to 'object' data types. That is because those values are numbers
# but, theoretically, they represent categorical values. Drop STATUS_DESCRIPTION
# and SIMPLE_STATUS_DESCRIPTION from the new DataFrame since those are alternative
# labels and we are going to use IN_SCHOOL_FLAG as the two-class label for our first
# model. Create dummy codes for all remaining features in the new DataFrame. Print
# out the first five records of the new DataFrame. There should be no remaining
# categorical values and many new dummy code features.

### Select Label and Features

In [ ]:
# Question 9: Set the y and X variables to represent the label
# and feature set. Print out the first five records of the feature
# list to verify it looks correct.

### Split Data

In [ ]:
# Question 10: Split the y and X sets into training and testing sets. Do
# a 70/30 split meaning 70% training data. Use a random seed of 12345.
# Print out the first five records of the X_test dataset.

### Create Classifier and Fit Model

In [ ]:
# Question 11: Create and fit a DecisionTreeClassifier() model using the
# training datasets.

### Compare Actual Versus Predicted Values

In [ ]:
# Question 12: Generate predictions for the testing dataset. Add the
# predicted values to a new DataFrame along with the actual values and
# print out the first 10 records. How many of the records are inaccurate?

### Assess Model Fit/Quality/Accuracy

In [ ]:
# Question 13: Generate a confusion matrix for the results. How many
# students are active, but predicted to quit?

In [ ]:
# Question 14: Generate the accuracy, precision, recall, and f1 scores for
# the predictions of active students. What is the accuracy score?

### Visualize Classification Model

In [ ]:
# Question 15: Generate a tree visualization using export_graphviz.
# What feature is used in the most important feature?

This portion below will be completed as part of the Week 3 Team Assignment. If you are finished with Questions 1-15, then you are done with the Week 3 Apply Assignment
# **Multi-Class Modeling**

## **Data Cleaning**

### Combine or Eliminate Low Frequency Values

In [ ]:
# Question 16: The label 'IN_SCHOOL_FLAG' was ideal for a two-class classification
# model. However, most students are put on probation before they are terminated.
# Therefore, it could be useful to predict three distinct categories: Active,
# Probation, and Terminated. First, let's identify what all possible label combinations
# exist across all three labels. Print a list of all value combinations of
# 'STATUS_DESCRIPTION', 'IN_SCHOOL_FLAG', and 'SIMPLE_STATUS_DESCRIPTION' along
# with a count of how often each occurs.

# HINT: consider using the .groupby() method of Pandas to perform this in a single
# line of code. See the image below for an example of what this may look like.
# The purpose behind this task is to explore our options for potential labels in
# this dataset. Each of those features represent current states for each student.

In [ ]:
# Question 17: To simplify our eventual model, eliminate all records for students
# whose 'SIMPLE_STATUS_DESCRIPTION' = 'Other'. Then, reprint the table above to
# ensure it worked properly.

In [ ]:
# Question 18: Next, eliminate anyone whose 'SIMPLE_STATUS_DESCRIPTION' =
# 'Transfer To Other Program', 'No Show', or 'False Start' since those outcomes
# are not relevant to students who were once active. Re-print the same summary
# table afterward.

In [ ]:
# Question 19: Finally, relabel the 'SIMPLE_STATUS_DESCRIPTION' of those whose
# 'STATUS_DESCRIPTION' = 'Probation' to 'Probation'. Re-print the table.

## **Classification Modeling**

### Dummy Codes

In [ ]:
# Question 20: Create a new copy of the DataFrame to work from. The features
# 'MOD_NUMBER' and 'COHORT_YEAR' represent categorical values that do not have an
# order. Therefore, they should be treated as categories and cast to objects. Once
# you have done so, drop the alternative labels 'STATUS_DESCRIPTION' and
# 'IN_SCHOOL_FLAG' from the dataset because we will be predicting
# 'SIMPLE_STATUS_DESCRIPTION'. Then, generate dummy codes for the remaining features.
# Print out the first five records to verify everything worked correctly.

### Select Label and Features

In [ ]:
# Question 21: Create the y and X variables to store the label and features
# using 'SIMPLE_STATUS_DESCRIPTION' as the label. Print out the first five
# records of X to make sure everything looks correct.

### Split Data

In [ ]:
# Question 22: Split the data using 70/30 split and 12345 as the random seed

### Create Classifier and Fit Model

In [ ]:
# Question 23: Train a decision tree classifier model using the datasets
# you just generated.

### Compare Actual Versus Predicted Values

In [ ]:
# Question 24: Predict the y values for the testing dataset and add them to
# a DataFrame along with the actual y values for comparison. Print out the
# first 20 records.

### Assess Model Fit/Quality/Accuracy

In [ ]:
# Question 25: Generate and print a confusion matrix to view the results.

In [ ]:
# Question 26: Generate the fit metrics (accuracy, precision, recall, f1)
# for the label value 'terminated'.

### Visualize Classification Model

In [ ]:
# Question 27: Generate a decision tree visualization using export_graphviz